@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    /*Fonte*/
    --fonte-destaque: 'Poppins', sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    /*Primárias*/
    --cor1: hsl(180, 66%, 49%);
    --cor2: hsl(257, 27%, 26%);

    /*Secudárias*/
    --cor3: hsl(0, 87%, 67%);

    /*Neutras*/
    --cor4: hsl(0, 0%, 75%);
    --cor5: hsl(257, 7%, 63%);
    --cor6: hsl(255, 11%, 22%);
    --cor7: hsl(260, 8%, 14%);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-destaque);
    font-size: 18px;
    max-width: 1440px;
    min-width: 375px;
    margin-left: 400px;
    margin-top: 60px;
}

/*Header*/

#logo {
    display: inline-block;
}

nav {
    position: relative;
    top: -11px;
    display: inline-block;
    padding-left: 30px;
    color: var(--cor5);
    font-size: 14px;
    margin-right: 470px;
}

nav > a {
    padding: 15px;
}

header > button {
    position: relative;
    top: -11px;
    background-color: white;
    border: none;
    font-size: 16px;
    margin: 10px;
    font-family: var(--fonte-destaque);
}

#login {
    color: var(--cor5);
}

#signup {
    background-color: var(--cor1);
    color: white;
    border-radius: 20px;
    padding: 7px 25px;
}

/*Main*/

/*Primeira section*/

#primeira {

}

#imagem-grande {
    position: relative;
    bottom: 280px;
    left: 200px;
}

#primeira > h1{
    font-size: 4.4em;
    width: 700px;
    line-height: 1.1em;
    margin-top: 43px;
}

#primeira > p {
    width: 500px;
    color: var(--cor5);
    padding-top: 40px;
}

#primeira > button {
    background-color: var(--cor1);
    color: white;
    border: none;
    font-family: var(--fonte-destaque);
    padding: 15px 42px;
    border-radius: 30px;
    font-size: 20px;
    position: relative;
    top: -410px;
}
