@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    /*Fonte*/
    --fonte-destaque: 'Poppins', sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    /*Cores*/

    /*Primárias*/
    --cor1: hsl(180, 66%, 49%);
    --cor2: hsl(257, 27%, 26%);

    /*Secudárias*/
    --cor3: hsl(0, 87%, 67%);

    /*Neutras*/
    --cor4: hsl(0, 0%, 75%);
    --cor5: hsl(257, 7%, 63%);
    --cor6: hsl(255, 11%, 22%);
    --cor7: hsl(260, 8%, 14%);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-destaque);
    font-size: 18px;
    margin-top: 60px;
}

/*Header*/

header {
    margin-left: 400px;
}

#logo {
    display: inline-block;
}

nav {
    position: relative;
    top: -11px;
    display: inline-block;
    padding-left: 30px;
    color: var(--cor5);
    font-size: 14px;
    margin-right: 470px;
}

nav > a {
    padding: 15px;
}

header > button {
    position: relative;
    top: -11px;
    background-color: white;
    border: none;
    font-size: 16px;
    margin: 10px;
    font-family: var(--fonte-destaque);
}

#login {
    color: var(--cor5);
}

#signup {
    background-color: var(--cor1);
    color: white;
    border-radius: 20px;
    padding: 7px 25px;
}

/*Main*/

/*Primeira sessão*/

#primeira-sessão {
    margin-left: 400px;
    height: 550px;
}

#imagem-grande {
    position: relative;
    bottom: 280px;
    left: 350px;
}

#primeira-sessão > h1{
    font-size: 4.4em;
    width: 700px;
    line-height: 1.1em;
    margin-top: 43px;
}

#primeira-sessão > p {
    width: 500px;
    color: var(--cor5);
    padding-top: 40px;
}

#primeira-sessão > button {
    background-color: var(--cor1);
    color: white;
    border: none;
    font-family: var(--fonte-destaque);
    padding: 15px 42px;
    border-radius: 30px;
    font-size: 20px;
    position: relative;
    top: -410px;
}

/*Caixa encurtador de link*/

#encurtador-box {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-color: #3B3054;
    width: 1100px;
    height: 160px;
    margin-left: 400px;
    border-radius: 10px;
    position: relative;
}

#shorten-link-here {
    width: 770px;
    height: 60px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: var(--fonte-destaque);
    padding-left: 30px;
}

#shorten-it {
    margin-left: 20px;
    height: 60px;
    width: 160px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: var(--cor1);
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: var(--font-weight-regular);
    font-size: 20px;
}

/*Segunda sessão*/

#segunda-sessão {
    background-color: #F0F1F6;
}

